* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* outline: 1px red solid; */

    font-family: 'Fredoka', sans-serif;
    color: var(--lightbase);
  }

  :root {
    --darkbase: #15001F;
    --base: #590082;
    --lightbase: #F6E3FF;
    --neonbase: #9D00E6;
    --contrast: #BDE640;
    --contrastlight: #F4FDDC;
    --opt1: #E68540;
    --opt2: #40D8E6;

  }

  body {
    background-color: var(--darkbase);
  }

  .header {
    border-bottom: 4px var(--contrastlight) solid;
    box-shadow: 0px 0px 5px var(--contrast),
                0px 0px 10px var(--contrast),
                0px 0px 20px var(--contrast),
                0px 0px 40px var(--contrast),
                0px 0px 100px var(--contrast),
                0px 0px 300px var(--contrast);
    padding-left: 100px;
  }

  .headerContent {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .headerTitle {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    text-shadow: 0px 0px 5px var(--neonbase),
                  0px 0px 10px var(--neonbase),
                  0px 0px 20px var(--neonbase),
                  0px 0px 40px var(--neonbase);
  }

  .headerTitleReset {
    border-radius: 10px;
    border: 2px solid var(--lightbase);
    font-size: 14px;
    padding: 2px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    text-shadow: 0px 0px 5px var(--neonbase),
                  0px 0px 10px var(--neonbase),
                  0px 0px 20px var(--neonbase),
                  0px 0px 40px var(--neonbase);
    box-shadow: 0px 0px 2px var(--neonbase),
                0px 0px 5px var(--neonbase),
                0px 0px 10px var(--neonbase),
                0px 0px 20px var(--neonbase);
    margin-left: 250px;
    margin-right: 50px;

  }

  .headerTitleReset button:hover {
/* Não está funcionando */
  }

  

  h1 {
    font-size: 40px;
  }

  .logo {
    height: 60px;
  }

  .table {
    font-size: 40px;
    text-align: center;
  }


  .board {

    display: flex;
    gap: 10px;
    font-size: 40px;
    align-items: center;
    width: 830px;
    margin: auto;

  }

  .playerCard {
    margin: 10px;
    width: 50%;
    border: 4px solid var(--contrastlight);
    border-radius: 80px;
    background-color: var(--darkbase);
    box-shadow: 0px 0px 2px var(--contrast),
                0px 0px 5px var(--contrast),
                0px 0px 10px var(--contrast),
                0px 0px 20px var(--contrast);
    padding-bottom: 20px;
  }

  .bluePlayerCurrentName{
    color: blue;
  }
  
  .redPlayerCurrentName{
    color: red;
  }

  #fname {
    font-size: 46px;
    font-family: 'Fredoka', sans-serif;
    width: 50%;
    background-color: var(--darkbase);
    border: none;
    outline: none;
  }

  .bluePlayer #fname {
    color: blue;

  }

  .redPlayer #fname {
    color: red;

  }

  .redPlayer {
    color: red;
  }

  .material-symbols-outlined {
    margin-left: 20px;
    cursor: pointer;
  }

  .points {
    height: 280px;
    font-size: 200px;
    text-align: center;
    line-height: 280px;
    font-family: 'Bangers', cursive;

  }


  .buttons {
    display: flex;
    text-align: center;
    margin: 5px;
  }

  .signalButtons {
    width: 50%;
    margin: 10px;
  }

  .signalButtons button {
    align-items: center;
    border: 0;
    border-radius: 8px;
    /* box-shadow: var(--base) 0 15px 30px -5px; */
    color: var(--lightbase);
    display: flex;
    justify-content: center;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .signalButtons button:hover {
    outline: 0;
  }

  .signalButtons button:active {
    
    box-shadow: 0px 0px 50px var(--lightbase);
    color: var(--contrast);
  }
  
  .signalButtons button span {
    background-color: var(--darkbase);
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 100ms;
  }
  
  .signalButtons button:hover span {
    background: none;
  }

  .negativeButtons button {
    background-image: linear-gradient(144deg, var(--opt1), var(--lightbase));
  } 

  .positiveButtons button {
    background-image: linear-gradient(144deg, var(--opt2), var(--lightbase));
  } 

  .mainButton{
    font-size: 60px;
    width: 100%;
  }

  .secondaryButtons {
    display: flex;
    width: 100%;
    gap: 10px;
    margin: 10px 0px;
    height: 60px;
  }

  .secondaryButton {
    font-size: 20px;
    width: 100%;
  }

  .taylorButton {
    width: 100px;
    height: 40px;
    margin: auto;
    font-size: 20px;

  }

  .taylorButton .btext {
    line-height: 28px;
  }

  .secondaryButton .btext {
    line-height: 54px;
  }


  footer {
    margin-top: 50px;
    margin-left: 2px;
    text-shadow: 0px 0px 1px var(--neonbase),
                0px 0px 2px var(--neonbase),
                0px 0px 4px var(--neonbase),
                0px 0px 10px var(--neonbase);
  }






/* *********************************************************** */
/* Setting Responsivity - Needs to work on Smartphone Devices. */
/* *********************************************************** */

  @media (max-width: 836px) {
  
    .header {
      padding-left: 30px;
    }
  
    .headerContent {
      gap: 15px;
    }
  
    .headerTitle {
      margin-bottom: 10px;
      font-size: 30px;
      width: 100px;
    }
  
    .headerTitleReset {
      font-size: 12px;

      margin-left: auto;
  
    }
  
  
    .board {
      gap: 2px;
      font-size: 18px;
      width: auto;
  
    }
  
    .playerCard {
      margin: 4px;
      width: 200px;
    }
  
  
    #fname {
      font-size: 18px;
    }
  
    .material-symbols-outlined {
      margin-left: 10px;
    }
  
    .points {
      height: 240px;
      font-size: 100px;
      line-height: 240px;
  
    }
  
  
    .buttons {
      margin: 5px;
    }
  
    .signalButtons {
      width: 50%;
      margin: 10px;
    }
  
    .signalButtons button {
      border-radius: 8px;
      padding: 3px;
    }
  
    .mainButton{
      font-size: 18px;
      height: 80px;
      line-height: 80px;
    }
  
    .secondaryButtons {
      gap: 10px;
      margin: 10px 0px;
      height: 60px;
    }
  
    .secondaryButton {
      font-size: 12px;
    }
  
  
    footer {
      margin-top: 50px;
      margin-left: 2px;
    }


  }




